<p>
  <b>Title:</b>
  <%=h @post.title %>

</p>

<p>
  <b>Body:</b>
  <%=h @post.body %>
</p>

<div class = "comment_list">
  <h2>Comments</h2>
  
  <% @post.comments.each do |c| %>
  <p>
    <div class = "comment">
      <b><%=h c.name %> said:</b><br />
	<%= time_ago_in_words(c.created_at) %> ago
  </p>

  <p>
      <%=h c.body %>
  </p>
  <% end %>
</div>
<% form_for [@post, Comment.new] do |f| %>
  <p>

    <%= f.label :name, "Author" %><br />
    <%= f.text_field :name %><br />
    <%= f.label :body, "Comment Description" %><br />
    <%= f.text_area :body %>
  </p>

  <p>
    <%= f.submit "Add Comment" %>
  </p>
<% end %>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
