<h1> Reset Password </h1>

<% form_tag :url => reset_password_path do %>
<%#= error_messages_for(@user) %>


<p>
<%= label :user, :password, "New Password"%><br />
<%= password_field :user, :password %>
</p>

<p>
<%= label :user, :password_confirmation%><br />
<%= password_field :user, :password_confirmation %>
</p>

<p>
<%= submit_tag 'Reset Password' %>
</p>

<% end %>
