<div id="heading">
     Listing posts
</div>

<table class="posts_index">
  <tr>
    <th class="title","position_relative">Title</th>
    <th class="body","position_relative">Body</th>
  </tr>

<% @posts.each do |post| %>
  <tr class="<%= post.id %>","position_absolute">
    <td><%=h post.title %></td>
    <td><%=h post.body %></td>
    <td><%= link_to 'Show', post, :class => "show_posts_link" %></td>
    <td><%= link_to 'Edit', edit_post_path(post) %></td>
    <td><%= link_to 'Destroy', post, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>
<div id="post"></div>
<br />

<%= link_to 'New post', new_post_path %>


