<p>
  <b>Title:</b>
  <%=h @post.title %>
</p>
  
<p>
  <b>Body:</b>
  <%=h @post.body %>
</p>

<p>
  <b>Tags:</b>
  <%=h @tags.tag_list  %>
</p>


<div id="comment_list">
<h2>Comments</h2>

<% @post.comments.each do |c| %>
  <p>
    <%= render :partial => c %>
  </p>
<% end %>
</div>
<% form_for [@post, Comment.new] do |f| %>
  <p>

    <%= f.label :author, "Author" %><br />
    <%= f.text_field :author %><br />
    <%= f.label :body, "Comment Description" %><br />
    <%= f.text_area :body %>
  </p>

  <p>
    <div id="add_comment_link">
    <%= f.submit "Add Comment" %>
   </div>
  </p>
<% end %>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
